---
    import Layout from "@/layouts/Layout.astro";
    import Home from '@/components/ui/Home.vue'
---

<script >

    import { $User, updateUser } from "@/store/auth/authStore"
    import { jwtDecode } from "jwt-decode"
    
    const token = localStorage.getItem('token')

    if (!token) {
        Astro.redirect('/login')
    }

    const { nombre:username , email } = jwtDecode(token).sub

    updateUser({username, email})

</script>

<div>
    <Layout>
        <Home />
    </Layout>
</div>

<style>
</style>
