
main {
    width: 90%;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    margin: 0 auto;
  }
  
  h1,
  p {
    text-align: center;
  }
  
  h1 {
    font-size: 3rem;
  }
  
  form {
    width: 100%;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  input:not([type="submit"]) {
    padding: 10px !important; 
  }

  img {
    margin: 0 auto;
  }
  
  input[type="submit"] {
    background: #022E40;
    color: #ffffff;
    padding: 10px;
    border-radius: 10px;
    font-size: 1.5rem;
  }